<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% block content %}
<button><a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'emailattachment' %}">Send message</a></button>
{% if request.user.is_authenticated %}
<a class="me-3 py-2 text-dark text-decoration-none">{{ user.username }}</a>
<a class="me-3 py-2 text-dark text-decoration-none" href="">|</a>
<a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>



{% else %}
<a class="me-3 py-2 text-dark text-decoration-none" href="registration">Registration</a>
<a class="me-3 py-2 text-dark text-decoration-none" href="">|</a>
<a class="me-3 py-2 text-dark text-decoration-none" href="login">Login </a>
{% endif %}
<div>
{%for cat in categories%}
    <h1>{{cat.title}}</h1>
    {{cat.content}}
{%endfor%}


    <button >Send message</button>
</div>
{% endblock %}

</body>
</html>